* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: rgba(79,79,79,0.1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  margin-top: 40px;
  font-size: 36px;
  text-align: center;
}

.work-list {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

.work-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.work-list-item a img {
  width: 100%;
  height: auto;
}