<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="css/styles.css")
    script(src="js/jQuery3.5.1.js")
    script(src="js/scripts.js")
    title Document
  body    
    include ./components/_header.pug
    include ./components/_menu.pug
    include ./components/_menu-burger.pug
    include ./components/_advantages.pug
    include ./components/_gift.pug
    include ./components/_combo.pug
    include ./components/_footer.pug
    
  