
<div class="advantages">
  <div class="container advantages-container">
    <div class="advantages__title-block">
      <h6 class="advantages__title-block__subtitle subtitle">Your Personalized Coffee</h6>
      <h5 class="advantages__title-block__title title">COFFEE BUILD YOUR BASE</h5>
    </div>
    <div class="advantages__cards">
      <ul class="advantages__cards__item ic-cafe">
        <h5 class="advantages__cards__item__title">Nguồn gốc</h5>
        <p class="advantages__cards__item__text">Những hạt cà phê Arabica, Robusta đạt chất lượng theo tiêu chuẩn quốc tế.</p>
      </ul>
      <ul class="advantages__cards__item ic-coffee">
        <h5 class="advantages__cards__item__title">Chất lượng</h5>
        <p class="advantages__cards__item__text">Từng một hạt cà phê là cả một quá trình tập trung cao độ của nghệ nhân cà phê.</p>
      </ul>
      <ul class="advantages__cards__item ic-glass">
        <h5 class="advantages__cards__item__title">Các loại hạt</h5>
        <p class="advantages__cards__item__text">70% chất lượng tách cà phê đến từ nguồn gốc và chất lượng green bean.</p>
      </ul>
      <ul class="advantages__cards__item ic-machine">
        <h5 class="advantages__cards__item__title">Pha chế</h5>
        <p class="advantages__cards__item__text">Những hạt cà phê được lột xác qua quá trình rang xay kỹ lưỡng và nghiêm ngặt.</p>
      </ul>
    </div>
  </div>
</div>