
<div class="combo">
  <div class="container combo-container">
    <div class="combo__title-block">
      <h6 class="combo__title-block__subtitle subtitle">Your Personalized Coffee</h6>
      <h5 class="combo__title-block__title title">COMBO PHIN PHÊ</h5>
    </div>
    <div class="combo__cards">
      <div class="combo__cards__item cup-brown">
        <div class="combo__cards__item-inner">
          <div class="combo__cards__item__prices">
            <p class="combo__cards__item__prices__current">147.000</p>
            <p class="combo__cards__item__prices__old">155.000</p>
          </div>
          <h5 class="combo__cards__item__title">Combo Revo Đậm Đà</h5>
          <p class="combo__cards__item__text">Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...</p>
          <div class="combo__cards__item__buttons"><a class="combo__cards__item__buttons__btn" href="#">MUA NGAY</a><a class="combo__cards__item__buttons__btn" href="#">CHI TIẾT</a></div>
        </div>
      </div>
      <div class="combo__cards__item cup-blue">
        <div class="combo__cards__item-inner">
          <div class="combo__cards__item__prices">
            <p class="combo__cards__item__prices__current">156.000</p>
            <p class="combo__cards__item__prices__old">165.000</p>
          </div>
          <h5 class="combo__cards__item__title">Combo Revo Everyday</h5>
          <p class="combo__cards__item__text">Revo Everyday được phối trộn giữa vị đắng của hạt Robusta và hương thơm...</p>
          <div class="combo__cards__item__buttons"><a class="combo__cards__item__buttons__btn" href="#">MUA NGAY</a><a class="combo__cards__item__buttons__btn" href="#">CHI TIẾT</a></div>
        </div>
      </div>
      <div class="combo__cards__item cup-red">
        <div class="combo__cards__item-inner">
          <div class="combo__cards__item__prices">
            <p class="combo__cards__item__prices__current">275.000</p>
            <p class="combo__cards__item__prices__old">260.000</p>
          </div>
          <h5 class="combo__cards__item__title">Combo Revo Honey</h5>
          <p class="combo__cards__item__text">Honey – trong tên gọi Revo Honey đến từ phương pháp chế biến hạt Arabica...</p>
          <div class="combo__cards__item__buttons"><a class="combo__cards__item__buttons__btn" href="#">MUA NGAY</a><a class="combo__cards__item__buttons__btn" href="#">CHI TIẾT</a></div>
        </div>
      </div>
    </div>
  </div>
</div>