
<div class="gift">
  <div class="container gift-cotainer">
    <div class="gift__title-block">
      <h6 class="gift__title-block__subtitle subtitle">Best Gift For Best Friend</h6>
      <h5 class="gift__title-block__title title">GIFTSET</h5>
    </div>
    <div class="gift__content">
      <div class="gift-inner">     
        <div class="gift__content__img"><img class="gift__content__img__image" src="" alt=""/></div>
        <div class="gift__content__text-wrapper">
          <p class="gift__content__text-wrapper__price"></p>
          <h5 class="gift__content__text-wrapper__title"></h5>
          <p class="gift__content__text-wrapper__text"></p>
          <ul class="gift__content__text-wrapper__list">
            <li class="gift__content__text-wrapper__list__item ic-coffee-beans">
              <div class="gift__content__text-wrapper__list__item-inner">
                <p class="gift__content__text-wrapper__list__item__text-1 gift-text-1"></p>
                <p class="gift__content__text-wrapper__list__item__text-2 gift-text-2"></p>
              </div>
            </li>
            <li class="gift__content__text-wrapper__list__item ic-mountain">
              <div class="gift__content__text-wrapper__list__item-inner">
                <p class="gift__content__text-wrapper__list__item__text-1 gift-text-3"></p>
                <p class="gift__content__text-wrapper__list__item__text-2 gift-text-4"></p>
              </div>
            </li>
          </ul>
          <div class="gift__content__text-wrapper__buttons"><a class="gift__content__text-wrapper__buttons__btn" href="#">MUA NGAY</a><a class="gift__content__text-wrapper__buttons__btn" href="#">CHI TIẾT</a></div>
        </div>
      </div>
      <div class="gift__content__tabs">
        <div class="gift__content__tabs__item" id="tab1" tabindex="1">1</div>
        <div class="gift__content__tabs__item" id="tab2" tabindex="2">2</div>
        <div class="gift__content__tabs__item" id="tab3" tabindex="3">3</div>
      </div>
    </div>
  </div>
</div>