
<header class="header"> 
  <div class="container header-container">
    <div class="header__content"><a class="header__content__logo" href="#"><img src="img/logo.svg" alt="logo"/></a>
      <div class="header__content__text-wrapper">
        <p class="header__content__text-wrapper__text">your</p>
        <p class="header__content__text-wrapper__text header__content__text-wrapper__text_2">personalized</p>
        <p class="header__content__text-wrapper__text">coffee</p>
      </div>
    </div>
    <div class="header__promo"></div>
  </div>
  <div class="header__cover"></div>
</header>