
<div class="menu">
  <div class="menu__close__btn-wrapper"><a class="menu__close__btn" href="#" id="menu-close-btn-id"><span class="menu__close__btn__line"></span><span class="menu__close__btn__line"></span></a></div><a class="menu__basket" href="#">
    <div class="menu__basket__count">
      <p class="menu__basket__count__content">2</p>
    </div></a>
  <ul class="menu__list">
    <li class="menu__list__title">TRANG CHỦ</li>
    <li class="menu__list__item"><a class="menu__list__item__link" href="#">COFFEE</a></li>
    <li class="menu__list__item"><a class="menu__list__item__link" href="#">PHIN MẠ MÀU</a></li>
    <li class="menu__list__item"><a class="menu__list__item__link" href="#">COMBO PHIN PHÊ</a></li>
    <li class="menu__list__item"><a class="menu__list__item__link" href="#">GIFTSET</a></li>
    <li class="menu__list__item"><a class="menu__list__item__link" href="#">LIÊN HỆ</a></li>
  </ul>
</div>