- let clouds = ['Sofas', 'Beds', 'Dining', 'Tv units', 'Mattresses', 'Seating', 'Coffee tables', 'Wardrobes', 'Storage', 'Bookshelves', 'Shoe racks', 'Decor', 'Bathroom', 'Textiles', `Pots ${'&'} plants`, 'Home electronics', 'Home improvement', 'Lighting'];

.article
  .container.article-container
    .article__clouds
      .article__clouds-wrapper
        each item in clouds
          a.article__clouds__link(href="#")= item    
    .article__content
      h5.article__content__title Explore our furniture #{'&'} home furnishing range
      h6.article__content__subtitle IKEA is a global leader in life at home.
      p.article__content__text Whether you just moved into a new home or looking to revamp your current one, we at IKEA are here to inspire you with affordable home furniture solutions, there is a piece of furniture to every corner of your home. Create a home that is perfect for you. \nShopping at IKEA is a bit different and exciting compared to your shopping at an everyday retail. It is about experiencing solutions first hand and getting to know ideas and inspirations that can fit perfectly into your home. That’s why, we offer more than 7500 products, solutions at our store along with home furnishing ideas and services for you to explore. \nWhen you visit IKEA store, make yourself at home in our many room settings in the store. Squeeze the upholsteries, feel the oriental rugs, try the sofa beds and open the cabinets to feel the quality. On the price tag, you’ll find all you need to know about a product, including where in the store you can pick it up. \nSince most IKEA furniture is flat-packed, they are quite easy to bring home when you buy from the store.  

      
    
