.booking
  form
    .container.booking-container    
      h6.booking__title Book professionals from your phone
      p.booking__text Enter your mobile number to get the professionals help
      .booking__inputs
        input.booking__inputs__tel(type="tel")
        button.booking__inputs__button(type="submit") Send