header.header
  .container.header-container
    .header__nav
      a.header__nav__logo(href="#")
        img(src="img/logo.svg", alt="logo")
      nav.header__nav__menu
        each item in ['On sale', 'For rent', 'New Residential Project', 'Property News']
          a.header__nav__menu__item(href="#")= item
      include ./_header-burger.pug
    include ./_header__vertical-menu.pug
    .header__content
      h4.header__content__title Quality home services, on demand
      p.header__content__text Experienced, hand-picked Professionals to serve you at your doorstep
    .header__search
      form(action="")
        .header__search__inputs
          input.header__search__inputs__input(type="search")    
          button.header__search__inputs__button(type="submit") Search