
.gift
  .container.gift-cotainer
    .gift__title-block
      h6.gift__title-block__subtitle.subtitle Best Gift For Best Friend
      h5.gift__title-block__title.title GIFTSET
    .gift__content
      .gift-inner      
        .gift__content__img
          img(src="", alt="" class="gift__content__img__image")
        .gift__content__text-wrapper
          p.gift__content__text-wrapper__price
          h5.gift__content__text-wrapper__title
          p.gift__content__text-wrapper__text
          ul.gift__content__text-wrapper__list
            li.gift__content__text-wrapper__list__item.ic-coffee-beans
              .gift__content__text-wrapper__list__item-inner
                p.gift__content__text-wrapper__list__item__text-1.gift-text-1
                p.gift__content__text-wrapper__list__item__text-2.gift-text-2
            li.gift__content__text-wrapper__list__item.ic-mountain
              .gift__content__text-wrapper__list__item-inner
                p.gift__content__text-wrapper__list__item__text-1.gift-text-3
                p.gift__content__text-wrapper__list__item__text-2.gift-text-4
          .gift__content__text-wrapper__buttons
            a.gift__content__text-wrapper__buttons__btn(href="#") MUA NGAY
            a.gift__content__text-wrapper__buttons__btn(href="#") CHI TIẾT
      .gift__content__tabs
        .gift__content__tabs__item#tab1(tabindex="1") 1
        .gift__content__tabs__item#tab2(tabindex="2") 2
        .gift__content__tabs__item#tab3(tabindex="3") 3
