header.header  
  .container.header-container
    .header__content
      a.header__content__logo(href="#")
        img(src="img/logo.svg", alt="logo")
      .header__content__text-wrapper
        p.header__content__text-wrapper__text your
        p.header__content__text-wrapper__text.header__content__text-wrapper__text_2 personalized
        p.header__content__text-wrapper__text coffee
    .header__promo
  .header__cover

    
      

    
